body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #D1CDCC;
}

/* iframe {
  margin-top: -100px;
  width: 300px;
  height: 400px;

} */
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.meetup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9F222A;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  border-style: inset;
  border-width: 5px;
  border-right-color: #FB7D86;
  border-bottom-color: #FB7D86;

  border-left-color: #E3303C;
  border-top-color: #E3303C;
}

.meetup-overlay:target {
  overflow-y: scroll;
  max-height: 200px;
  margin: 10px;
  padding: 10px;
  /* padding-bottom: 50px; */
  /* margin-top: -50px; */
  position: relative;
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}



#suggestion-dropdown {
position: absolute;
}

#suggestions {
  box-shadow: 3px 3px 3px black;
  position: absolute;
  font-family: 'Baloo Tammudu', sans-serif;
  margin: 5px;
  /* float: right; */
  width: 15%;
  /* border-style: solid;
  border-width: 5px;
  border-radius: 10px; */

}

.map-frame {
  border-width: 6px;
  border-style: inset;

  border-right-color: #4759A0;
  border-bottom-color: #4759A0;

  border-left-color: #1D317F;
  border-top-color: #1D317F;


}

#map {
  float: left;
  width: 45%;
  border-style: solid;
  /* border-color: #FB0313; */
  border-width: 5px;
  border-radius: 10px;
  margin: 10px;
}
/* .flex-container {


  flex-direction: row;
  height: 350;
  width: 100%;

  flexFlow: row-nowrap;
  justifyContent: center;
  padding: 0;
} */

/* .hidden {
  visibility: hidden;
} */

#meetup-header {
  padding-top: 10px;
  padding-bottom: 15px;

  /* margin: 10px; */
  font-size: 3em;
  color: #FFA3C0;
  font-family: 'Chango', sans-serif;
}


.meetup {
  /* font-family: 'Chango', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Baloo Tammudu', sans-serif;
  font-size: 1.4em;
  /* font-weight: bold; */

  text-shadow:
      /* first layer at 1px */
      -1px -1px 0px #000,
       0px -1px 0px #000,
       1px -1px 0px #000,
      -1px  0px 0px #000,
       1px  0px 0px #000,
      -1px  1px 0px #000,
       0px  1px 0px #000,
       1px  1px 0px #000,
      /* second layer at 2px */
      -2px -2px 0px #000,
      -1px -2px 0px #000,
       0px -2px 0px #000,
       1px -2px 0px #000,
       2px -2px 0px #000,
       2px -1px 0px #000,
       2px  0px 0px #000,
       2px  1px 0px #000,
       2px  2px 0px #000,
       1px  2px 0px #000,
       0px  2px 0px #000,
      -1px  2px 0px #000,
      -2px  2px 0px #000,
      -2px  1px 0px #000,
      -2px  0px 0px #000,
      -2px -1px 0px #000;
      margin: 5px;



}

.pink {
    color: #FFA3C0;
}





.green {
  z-index: -100;
  color: #50B748;
  font-size: 1.5em;
  font-family: 'Baloo Tammudu', sans-serif;
  text-shadow:
      /* first layer at 1px */
      -1px -1px 0px #000,
       0px -1px 0px #000,
       1px -1px 0px #000,
      -1px  0px 0px #000,
       1px  0px 0px #000,
      -1px  1px 0px #000,
       0px  1px 0px #000,
       1px  1px 0px #000,
      /* second layer at 2px */
      -2px -2px 0px #000,
      -1px -2px 0px #000,
       0px -2px 0px #000,
       1px -2px 0px #000,
       2px -2px 0px #000,
       2px -1px 0px #000,
       2px  0px 0px #000,
       2px  1px 0px #000,
       2px  2px 0px #000,
       1px  2px 0px #000,
       0px  2px 0px #000,
      -1px  2px 0px #000,
      -2px  2px 0px #000,
      -2px  1px 0px #000,
      -2px  0px 0px #000,
      -2px -1px 0px #000;
}

.meetup-border {
  padding: 5px;
  background-color: #F93441;
  /* border-style: solid; */
  border-style: outset;
  border-right-color: #E3303C;
  border-bottom-color: #E3303C;

  border-left-color: #FB7D86;
  border-top-color: #FB7D86;
  /* border-color: #FB0313; */
  border-width: 4px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 3px 3px 3px black;
}

.scroll {
    border-style: inset;
    /* border-style: solid; */
    border-width: 4px;
    background-color: #07195E;
    height: 500px;
    /* width: 200px; */
    padding: 10px;
    overflow-y: scroll;
    border-right-color: #4759A0;
    border-bottom-color: #4759A0;

    border-left-color: #1D317F;
    border-top-color: #1D317F;
}

/* #map-meetups-container {
  columns: 2 auto;
} */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.meetup-box {
  /* float: right; */
  border-style: outset;
  border-right-color: black;
  border-bottom-color: black;

  border-left-color: #4759A0;
  border-top-color: #4759A0;
  /* background-color: #092180; */
  background-color: #1F358B;
  /* border-style: solid; */
  border-width: 5px;
  border-radius: 10px;
  padding: 18px;

}

.map-container {
  float: left;
}

.styled-select {
   /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px; */
   overflow: hidden;
   width: 240px;
   background-color: #FFCCDC;
   border-radius: 5px;
   border-style: outset;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

#dropdown {
  border-style: inset;
  border-width: 5px;
  size: 35;
  height: 45px;
  width: 100%;
  font-size: 100%;
  background-color: #FFA3C0;
  border-right-color: #4759A0;
  border-bottom-color: #4759A0;

  border-left-color: #1D317F;
  border-top-color: #1D317F;
}

#places-input {
  border-style: inset;
  border-width: 5px;
  size: 35;
  height: 45px;
  width: 100%;
  font-size: 100%;
  background-color: #FFA3C0;
  border-right-color: #4759A0;
  border-bottom-color: #4759A0;

  border-left-color: #1D317F;
  border-top-color: #1D317F;
}

.nav-link {
border-style: outset;
border-radius: 10px;
margin: 0px;
}

.gm-style .gm-style-iw {
  /* border-style: outset; */
  background-color: black !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 107% !important;
  min-height: 100px !important;
  padding: 0px;
  border-radius: 5px !important;
  box-shadow: 3px 3px 3px black;
}

.menu-bar {

  border-style: outset;
  border-width: 5px;
  width: 25%;
  height: 20%;
  display: block;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}


.gm-style-iw + * {
  box-shadow: 3px 3px 3px black;
  visibility: hidden;
}
