body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Tammudu', sans-serif;
  background-color: #8E819A;
  /* background-color: #D1CDCC; */
}

.cute-link {
  color: #F93441;
  background-color: #68161C;
  text-shadow:
      /* first layer at 1px */
      -1px -1px 0px #000,
       0px -1px 0px #000,
       1px -1px 0px #000,
      -1px  0px 0px #000,
       1px  0px 0px #000,
      -1px  1px 0px #000,
       0px  1px 0px #000,
       1px  1px 0px #000,
      /* second layer at 2px */
      -2px -2px 0px #000,
      -1px -2px 0px #000,
       0px -2px 0px #000,
       1px -2px 0px #000,
       2px -2px 0px #000,
       2px -1px 0px #000,
       2px  0px 0px #000,
       2px  1px 0px #000,
       2px  2px 0px #000,
       1px  2px 0px #000,
       0px  2px 0px #000,
      -1px  2px 0px #000,
      -2px  2px 0px #000,
      -2px  1px 0px #000,
      -2px  0px 0px #000,
      -2px -1px 0px #000;
  font-family: 'Baloo Tammudu', sans-serif;
  font-size: 28px;
}

.dropdown {
  z-index: 500;
  box-shadow: 3px 3px 3px black;
  position: absolute;
  font-family: 'Baloo Tammudu', sans-serif;
  margin: 5px;
  background-color: #FFCCDC;
  background-color: #FFDDE8;
  padding: 5px;
  /* float: right; */
  /* width: 90%; */
}

li:hover {
    background-color: #FFCCDC;
    cursor: pointer;
}

ul {
  list-style-type: none;
}
/* iframe {
  margin-top: -100px;
  width: 300px;
  height: 400px;

} */
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* .meetup-overlay {
  position: fixed;
  top: -500;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9F222A;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;



  border-style: inset;
  border-width: 5px;
  border-right-color: #FB7D86;
  border-bottom-color: #FB7D86;

  border-left-color: #E3303C;
  border-top-color: #E3303C;
} */

.meetup-overlay {
  background: #9F222A;
  overflow-y: scroll;
  max-height: 200px;
  margin: 10px;
  padding: 10px;
  position: relative;
  visibility: visible;
  opacity: 1;

  border-style: inset;
  border-width: 5px;
  border-right-color: #FB7D86;
  border-bottom-color: #FB7D86;

  border-left-color: #E3303C;
  border-top-color: #E3303C;

}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  color: #07195E;
  margin: 70px auto;
  padding: 20px;
  background: #D1CDCC;
  border-radius: 5px;
  border-style: outset;
  border-width: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup a {
  font-size: 20px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}



#suggestion-dropdown {
position: absolute;
z-index: 500;
}

#suggestion-dropdown:hover {
  cursor: pointer;
}


#suggestions {
  z-index: 500;
  box-shadow: 3px 3px 3px black;
  position: absolute;
  font-family: 'Baloo Tammudu', sans-serif;
  margin: 5px;
  /* float: right; */
  width: 15%;
  /* border-style: solid;
  border-width: 5px;
  border-radius: 10px; */

}

.map-frame {
  border-width: 6px;
  border-style: inset;

  border-right-color: #4759A0;
  border-bottom-color: #4759A0;

  border-left-color: #1D317F;
  border-top-color: #1D317F;


}

#map {
  float: left;
  width: 45%;
  border-style: solid;
  /* border-color: #FB0313; */
  border-width: 5px;
  border-radius: 10px;
  margin: 10px;
}
/* .flex-container {


  flex-direction: row;
  height: 350;
  width: 100%;

  flexFlow: row-nowrap;
  justifyContent: center;
  padding: 0;
} */

/* .hidden {
  visibility: hidden;
} */

#meetup-header {
  padding-top: 10px;
  padding-bottom: 15px;

  /* margin: 10px; */
  font-size: 3em;
  color: #FFA3C0;
  font-family: 'Chango', sans-serif;
}


.meetup {
  /* font-family: 'Chango', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Baloo Tammudu', sans-serif;
  font-size: 1.4em;
  /* font-weight: bold; */

  text-shadow:
      /* first layer at 1px */
      -1px -1px 0px #000,
       0px -1px 0px #000,
       1px -1px 0px #000,
      -1px  0px 0px #000,
       1px  0px 0px #000,
      -1px  1px 0px #000,
       0px  1px 0px #000,
       1px  1px 0px #000,
      /* second layer at 2px */
      -2px -2px 0px #000,
      -1px -2px 0px #000,
       0px -2px 0px #000,
       1px -2px 0px #000,
       2px -2px 0px #000,
       2px -1px 0px #000,
       2px  0px 0px #000,
       2px  1px 0px #000,
       2px  2px 0px #000,
       1px  2px 0px #000,
       0px  2px 0px #000,
      -1px  2px 0px #000,
      -2px  2px 0px #000,
      -2px  1px 0px #000,
      -2px  0px 0px #000,
      -2px -1px 0px #000;
      margin: 5px;



}

.pink {
    color: #FFA3C0;
}





.green {
  z-index: -100;
  font-family: 'Baloo Tammudu', sans-serif;
}

.meetup-border {

  padding: 5px;
  background-color: #F93441;
  /* border-style: solid; */
  border-style: outset;
  border-right-color: #E3303C;
  border-bottom-color: #E3303C;

  border-left-color: #FB7D86;
  border-top-color: #FB7D86;
  /* border-color: #FB0313; */
  border-width: 4px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
}

.meetup-border:hover {
color: #E895AF;
background-color: #E3303C;
border-style: inset;
border-right-color: #FB7D86;
border-bottom-color: #FB7D86;

border-left-color: #E3303C;
border-top-color: #E3303C;
}
.scroll {
    border-style: inset;
    /* border-style: solid; */
    border-width: 4px;
    background-color: #07195E;
    height: 500px;
    /* width: 200px; */
    padding: 10px;
    overflow-y: scroll;
    border-right-color: #4759A0;
    border-bottom-color: #4759A0;

    border-left-color: #1D317F;
    border-top-color: #1D317F;
}

/* #map-meetups-container {
  columns: 2 auto;
} */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.meetup-box {
  /* float: right; */
  border-style: outset;
  border-right-color: black;
  border-bottom-color: black;

  border-left-color: #4759A0;
  border-top-color: #4759A0;
  /* background-color: #092180; */
  background-color: #1F358B;
  /* border-style: solid; */
  border-width: 5px;
  border-radius: 10px;
  padding: 18px;

}

.map-container {
  float: left;
}

.styled-select:hover {
  background-color: #E8BAC8;

  border-style: inset;
  border-right-color: #FFDEE8;
  border-bottom-color: #FFDEE8;

  border-left-color: #BA95A1;
  border-top-color: #BA95A1;
}

.styled-select {
   /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px; */
   padding: 5px;
   font-family: 'Baloo Tammudu', sans-serif;
   overflow: hidden;
   width: 90%;
   background-color: #FFCCDC;
   border-radius: 5px;
   border-style: outset;
   border-right-color: #BA95A1;
   border-bottom-color: #BA95A1;

   border-left-color: #FFDEE8;
   border-top-color: #FFDEE8;
   cursor: pointer;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

#dropdown {
  border-style: inset;
  border-width: 5px;
  size: 35;
  height: 45px;
  width: 100%;
  font-size: 100%;
  background-color: #FFA3C0;
  border-right-color: #4759A0;
  border-bottom-color: #4759A0;

  border-left-color: #1D317F;
  border-top-color: #1D317F;
}

#places-input {
  border-style: inset;
  border-width: 5px;
  size: 35;
  height: 45px;
  width: 100%;
  font-size: 100%;
  background-color: #FFA3C0;
  border-right-color: #4759A0;
  border-bottom-color: #4759A0;

  border-left-color: #1D317F;
  border-top-color: #1D317F;
}


.nav-link:hover {
  color: #E895AF;
  background-color: #E3303C;
  border-style: inset;
  border-right-color: #FB7D86;
  border-bottom-color: #FB7D86;

  border-left-color: #E3303C;
  border-top-color: #E3303C;
}

.nav-link {
padding: 10px;
background-color: #F93441;
color: #FFA3C0;
border-style: outset;
border-radius: 5px;
margin: auto;

border-right-color: #E3303C;
border-bottom-color: #E3303C;

border-left-color: #FB7D86;
border-top-color: #FB7D86;
/* justify-content: center; */
font-size: 30px;
text-shadow:
-1px -1px 0px #000,
 0px -1px 0px #000,
 1px -1px 0px #000,
-1px  0px 0px #000,
 1px  0px 0px #000,
-1px  1px 0px #000,
 0px  1px 0px #000,
 1px  1px 0px #000,
/* second layer at 2px */
-2px -2px 0px #000,
-1px -2px 0px #000,
 0px -2px 0px #000,
 1px -2px 0px #000,
 2px -2px 0px #000,
 2px -1px 0px #000,
 2px  0px 0px #000,
 2px  1px 0px #000,
 2px  2px 0px #000,
 1px  2px 0px #000,
 0px  2px 0px #000,
-1px  2px 0px #000,
-2px  2px 0px #000,
-2px  1px 0px #000,
-2px  0px 0px #000,
-2px -1px 0px #000;

}

.gm-style .gm-style-iw {
  /* border-style: outset; */
  /* background-color: white !important; */
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 107% !important;
  min-height: 100px !important;
  padding: 10px;
  border-style: outset;
  border-radius: 5px !important;
  background-color: #FFCCDC !important;
  border-right-color: #BA95A1;
  border-bottom-color: #BA95A1;
  overflow-y: scroll;
  border-left-color: #FFDEE8;
  border-top-color: #FFDEE8;
  box-shadow: 3px 3px 3px black;
}

.menu-bar {
  border-width: 5px;
  width: 25%;
  height: 20%;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-right-color: black;
  border-bottom-color: black;

  border-left-color: #4759A0;
  border-top-color: #4759A0;
  background-color: #1F358B;
  border-radius: 5px;
  border-style: outset;

}

.info-div {
  height: 100%;
  width: 200px;

}

.gm-style-iw + * {
  box-shadow: 3px 3px 3px black;
  visibility: hidden;
}
